.min-h-screen {
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.navbar {
    display: flex;
    height: 67px;

}
.navbar li {
    list-style: none;
    margin: 0 12px;
}
.font-bold {
    font-weight: 900;
}
.flex-col{
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.my-1 {
    margin-top:13px ;
    margin-bottom: 13px;
}
.px-2{
    padding-left: 13px;
    padding-right: 13px;
}
.text-blue {
    color: rgb(143, 3, 3);
}
.btn {
    padding: 7px 12px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color:rgb(143, 3, 3);
}
.my-2 {
    margin-top: 26px;
    margin-bottom: 26px;
}
footer{
    padding: 23px;
    text-align: center;
}